
.network-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.network-icon {
  margin: 0 3px 0 0;
}

.network-value {
  font-size: 10px;
  margin: 0 4px 2px 0;

  & i {
    font-size: 11px;
  }
}
